{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style type="text/css">
        .prediction-item {
            padding: 0.3rem 1.25rem;
             !important
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            {% csrf_token %}
            <div class="col-lg-12 py-5">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-header text-center bg-white">
                        <h3>Text classification</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="user_text">Enter The Text:</label>
                                    <textarea class="form-control" id="user_text" rows="7" cols="50"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-right btn-group align-items-center">
                                <a id="predict_sentence" class="btn btn-primary">Classify</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <textarea class="form-control" id="trans_sentence" name="trans_result"
                                        placeholder="Predicted category" rows="6" cols="50"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<script src="{% static 'myapp/js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
<script src="{% static 'myapp/js/suggestions.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $("#predict_sentence").click(function () {
        user_text = $("#user_text").val()
        if (user_text == "") {
            $("#user_text").focus()
            return false
        }
        else {
            $.ajax({
                url: '/classification/',
                type: "POST",
                data: {
                    "word": $("#user_text").val()
                },
                success: function (response) {
                    console.log(response)
                    // response = JSON.parse(response)
                    $("#trans_sentence").val(response["message"])
                }
            });
        }
    })
</script>

</html>